body{
  background-image: url(../public/145587.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  min-height: 100vh; 
  
}

.card{
height: 200px;
width: 170px;
margin: 8px

}
img{
  height:100%;
}
.loding{
  margin-left: auto 50%
}
.lod{
  color: antiquewhite
}

.navbar-brand{
  padding: 10px;
  font-weight: bold;
font-size: 27px;
  border: 2px solid white;
 margin-bottom: 6px;
 margin-top: 6px;
 text-align: center;
 margin-right: 0;
}
.page-item .btn{
  width: 100px;
  margin-top: 10px;
  font-size: 25px;
  background-color: rgb(26, 143, 167)
 
}
.page-item .btn:hover{
  background-color: rgb(0, 44, 110)
 
}
.card :hover{
  transform: scale(1.1);
  border: 3px solid rgb(15, 15, 207)
}
.navbar{
  border: 1px solid white;

}
.navbar-light{
  margin-top: 10px;
  
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 62%, rgba(0,212,255,1) 100%);
color: white;

}
.btn-outline-primary{
color: white;
  border: 1px solid white
}
.form-control{
  width: auto;
  margin-right: 10px
}
.page-item h3{
  font-size: 15px;
 border: 1px solid white;
 background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,227,1) 62%, rgb(18, 139, 163) 100%);
 margin: 10px 4px

}
.d-flex{
  overflow: auto;
}